@font-face {
  font-family: 'syncopatebold';
  src: url('../fonts/syncopate-bold-webfont.woff2') format('woff2'),
  url('../fonts/syncopate-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap");

@import "mixins/breakpoints";

@import "common/normalize";
@import "common/variables";
@import "common/nav";
@import "common/footer";
@import "common/contact-form";

@import "helpers/helpers";
@import "helpers/calendarium";
@import "helpers/page-helpers";

@import "pages/dictionary";
@import "pages/infographics";
@import "pages/knowledge-base";
@import "pages/article";
@import "pages/rules";
@import "pages/about";
@import "pages/contact";
@import "pages/ambasadors";
@import "pages/partners";
@import "pages/team";


html {
  color: $text-color-dark;
  font-size: 20px;
  line-height: 32px;
  font-family: "Mulish", sans-serif;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: geometricPrecision;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "syncopatebold", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0 0 0 20px;
    font-size: 16px;
    line-height: 26px;
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 13px;
      left: 0;
      width: 4px;
      height: 4px;
      border-radius: 4px;
      background: $text-color-dark;
    }
  }
}

body {
}

a {
  color: $text-color-dark;
  text-decoration: none;
  font-weight: 600;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.homepage {
  #navigation {
    .wrapper {
      background: $color-gray-medium;
      &:after {
        @include breakpoint(medium) {
          background: $color-white;
        }
      }

      .menu-elements {
        background: $color-white;
      }
    }
    nav ul li {
      .sub-menu {
        @include breakpoint(medium) {
          background: $color-white;
        }
      }
    }
  }

  #top {
    background-image: url("../images/bg-new-top.svg");
    background-color: $color-gray-medium;
    background-position: center center;
    background-size: auto 450px;
    background-repeat: no-repeat;
    text-align: center;
    @include breakpoint(small) {
      background-size: auto 500px;
    }
    @include breakpoint(medium) {
      background-size: auto 650px;
      background-position: center 60px;
    }
    @include breakpoint(large) {
    }
    .container {
      min-height: 600px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include breakpoint(medium) {
        min-height: 620px;
      }

      h1 {
        font-family: Mulish;
        font-weight: 600;
        font-size: 28px;
        line-height: 1.4;
        margin: 0 auto 42px 0;
        @include breakpoint(small) {
          font-size: 38px;
          margin-bottom: 42px;
        }
        @include breakpoint(medium) {
          font-size: 48px;
          margin-top: 80px;
          margin-bottom: 42px;
        }
        @include breakpoint(large) {
          font-size: 56px;
          max-width: 850px;
        }
      }

      .dot {
        display: inline-flex;
      }
    }
  }

  #calendarium {
    background: $color-brown-medium;
    padding: 60px 0 40px 0;
    position: relative;
    overflow: hidden;

    .title-dot {
      &:before {
        background: $color-white;
        top: 50px;
        width: 140px;
        height: 140px;
      }
    }

    .title {
      font-size: 20px;
      line-height: 1.6;
      margin-bottom: 10px;
      @include breakpoint(small) {}
      @include breakpoint(medium) {
        font-size: 36px;
        line-height: 1.4;
        margin-bottom: 0;
      }
      @include breakpoint(large) {
        font-size: 40px;
        line-height: 1.6;
        max-width: 900px;

      }
    }
  }

  #infographics {
    padding: 60px 0;
    @include breakpoint(medium) {
      padding: 80px 0;
    }
    @include breakpoint(large) {
      padding: 120px 0;
    }
    .wrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 40px;
      @include breakpoint(medium) {
        grid-template-columns: 1fr 1fr 1fr;
      }

    }
  }

  #dictionary {
    position: relative;
    padding: 60px 0 60px 25px;
    @include breakpoint(medium) {
      padding: 80px 0;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 25px;
      background: $color-brown-medium;
      z-index: -1;
      @include breakpoint(small) {
        left: calc(50% - 360px);
      }
      @include breakpoint(medium) {
        left: calc(50% - 350px);
      }
      @include breakpoint(large) {
        left: calc(50% - 480px);
      }
    }

    .title {
      max-width: 500px;
    }

    .wrapper {
      display: grid;
      grid-template-columns: 1fr;
      @include breakpoint(medium) {
        grid-template-columns: 1fr 1fr;
      }

      a {
        color: $text-color-dark;
      }

      .dots {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        padding-left: 20px;
        margin-left: -40px;
        margin-right: -25px;
        @include breakpoint(medium) {
          margin-left: 0;
        }

        .dot {
          margin-right: 25px;
          margin-bottom: 30px;
          padding: 14px 0;
          @include breakpoint(medium) {
            padding: 17px 0;
            margin-right: 60px;
          }

          &:before {
            width: 70px;
            height: 70px;
          }

          img{
            margin-right: 10px;
            @include breakpoint(medium) {
              margin-right: 15px;
            }
          }

          span {
            width: 100px;
            @include breakpoint(medium) {

            }
          }
        }

        .js-refresh-item-trigger {
          &:hover {
            cursor: pointer;
          }
        }
      }

      .term {
        position: relative;
        @include breakpoint(medium) {
          padding: 0 60px;
        }

        &:after {
          content: 'Wczytywanie...';
          width: 200px;
          position: absolute;
          top: calc(50% - 10px);
          left: calc(50% - 100px);
          text-align: center;
          display: block;
          color: $text-color-dark;
          z-index: 2;
          opacity: 0;
          visibility: hidden;
          transition: all 0.5s ease-in-out;
        }

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: block;
          background: rgba(239, 238, 233, 0.9);
          z-index: 1;
          opacity: 0;
          visibility: hidden;
          transition: all 0.5s ease-in-out;
        }

        &.loading {
          &:after,
          &:before {
            visibility: visible;
            opacity: 1;
          }
        }
      }

      h4 {
        font-size: 18px;
        line-height: 1.3;
        text-transform: uppercase;
        margin-bottom: 15px;
        @include breakpoint(medium) {
          font-size: 24px;
        }
      }

      p {
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 24px;
      }

      ol {
        margin: 0;
        padding: 0 0 0 20px;
        font-size: 16px;
        line-height: 24px;

        li {
          margin-bottom: 15px;
        }
      }
    }
  }

  #knowledge-base {
    padding: 60px 0;
    @include breakpoint(medium) {
      padding: 100px 0 80px 0;
    }

    .title {
      margin-bottom: 40px;
    }

    .wrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 40px;

      @include breakpoint(medium) {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    .text-center {
      display: flex;
      justify-content: center;
      margin-top: 40px;

      .dot{
        @include breakpoint(medium) {
          margin-left: 20px;
        }

        span {
          max-width: 230px;
        }
      }
    }
  }

  #rules {
    background: $color-gray-light;
    padding: 60px 0;
    @include breakpoint(medium) {
      padding: 80px 0;
    }

    .title {
      margin-right: 20%;
    }

    .wrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 40px;
      @include breakpoint(small) {
        grid-template-columns: 1fr 1fr;
      }
      @include breakpoint(medium) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }

  #newsletter {
    padding: 60px 0;
    @include breakpoint(medium) {
      background-image: url("../images/bg-hp-newsletter.svg");
      background-position: calc(50% + 380px) top;
      background-repeat: no-repeat;
      padding: 80px 0;
    }
    @include breakpoint(large) {
      background-position: calc(50% + 475px) top;
    }

    .lead {
      @include breakpoint(medium) {
        margin-right: 40%;
      }
      @include breakpoint(large) {
        margin-right: 50%;
      }
    }

    .newsletter {
      @include breakpoint(medium) {
        margin-right: 35%;
      }
      @include breakpoint(large) {
        margin-right: 45%;
      }

      form {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        margin-bottom: 40px;
        @include breakpoint(small) {
          grid-template-columns: 2fr 1fr;
        }

        input {
          border: none;
          background: $color-gray-light;
          padding: 16px 24px;
          outline: none;
          width: 100%;
          color: $text-color-dark;
          font-size: 14px;
          line-height: 22px;
          display: block;
        }

        button {
          background: none;
          border: 0;
          padding: 0 15px;
          margin: 0;
          width: 100%;
          outline: none;

          .dot {
            padding: 17px 0;
            @include breakpoint(medium) {
              margin-top: -12px;
              padding: 27px 0;
            }

            img{
              margin-top: 3px;
            }

            span {
              margin-top: 0;
            }

            &:before {
              width: 56px;
              height: 56px;
              @include breakpoint(medium) {
                width: 76px;
                height: 76px;
              }
            }
          }
        }
      }

      p {
        color: $text-color-gray;
        font-size: 12px;
        line-height: 16px;

        a {
          color: $text-color-gray;
          font-weight: 700;
          border-bottom: 1px solid $text-color-gray;
        }
      }
    }
  }
}

#infographics {
  .wrapper {
    article {
      img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
      }
      h4 {
        font-size: 16px;
        line-height: 1.5;
        text-transform: uppercase;
        padding: 15px;
        background: $color-brown-light;
        min-height: 78px;
      }
    }
  }
}

#knowledge-base {
  .wrapper {
    article {
      & > img {
        width: 100%;
        height: auto;
      }

      h4 {
        font-size: 18px;
        line-height: 1.4;
        text-transform: uppercase;
        margin-bottom: 10px;
        display: flex;
        align-items: flex-end;
        @include breakpoint(medium) {
          font-size: 20px;
          align-items: flex-end;
          min-height: 56px;
        }
      }

      a {
        color: $text-color-dark;
      }

      .dot {
        margin-left: 15px;
      }

      p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 10px;
        @include breakpoint(large) {
          margin-right: 30%;
        }
      }

      .color {
        margin-top: 10px;
        padding: 15px 20px;
        @include breakpoint(medium) {
          padding: 20px 30px;
        }

        &.yellow {
          background: $color-yellow;
        }

        &.orange {
          background: $color-orange;
        }

        &.green {
          background: $color-green;
        }

        &.violet {
          background: $color-violet;
        }
      }
    }
  }
}

#rules {
  .wrapper {
    article {
      img {
        width: 100%;
        height: auto;
      }

      .flag {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        margin-top: -40px;
        margin-right: 15px;
        float: right;
        position: relative;
        z-index: 2;
      }

      h4 {
        font-size: 18px;
        line-height: 1.3;
        text-transform: uppercase;
        margin-top: 30px;
        margin-right: 30%;
        @include breakpoint(medium) {
          font-size: 24px;
        }
      }
    }
  }
}
