@import "../common/variables";
@import "../mixins/breakpoints";

.about {
  #about {
    margin-bottom: 20px;
    @include breakpoint(medium) {
      background-image: url("../images/bg-about-top.svg");
      background-position: calc(50% + 370px) top;
      background-repeat: no-repeat;
      margin-bottom: 100px;
    }
    @include breakpoint(large) {
      background-position: calc(50% + 500px) top;
    }

    .container {
      @include breakpoint(medium) {
        min-height: 576px;
      }

      .slogan {
        padding-top: 20px;
        @include breakpoint(medium) {
          padding-right: 40%;
          padding-top: 80px;
        }

        .title-dot {
          margin: 0 0 20px 0;
        }

        p {
          position: relative;
          z-index: 2;
          margin-bottom: 30px;
        }
      }
    }
  }
}
