@import "../common/variables";
@import "../mixins/breakpoints";

.contact {
  #contact {
    margin-bottom: 20px;
    @include breakpoint(medium) {
      background-image: url("../images/bg-contact-top.svg");
      background-position: calc(50% + 290px) top;
      background-repeat: no-repeat;
      margin-bottom: 100px;
    }
    @include breakpoint(large) {
      background-position: calc(50% + 420px) top;
    }

    .container {
      @include breakpoint(medium) {
        min-height: 680px;
      }

      .slogan {
        padding-top: 20px;
        @include breakpoint(medium) {
          padding-right: 60%;
          padding-top: 80px;
        }

        .title-dot {
          margin: 0 0 20px 0;
        }

        p {
          position: relative;
          z-index: 2;
          margin-bottom: 20px;
          font-size: 16px;
          line-height: 24px;

          &:first-of-type {
            font-size: 20px;
            line-height: 32px;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}
