$text-color-dark: #191B1D;
$text-color-light: #FFFFFF;
$text-color-gray: #959BA2;

$color-bg: #E5E5E5;
$color-white: #FFFFFF;
$color-gray-light: #F3F5F8;
$color-gray-medium: #D7DFE8;
$color-brown-light: #FBFAF5;
$color-brown-medium: #EFEEE9;

$color-orange: #FF6E40;
$color-yellow: #FFD600;
$color-violet: #C66AFF;
$color-green: #00E794;

$default-mobile-padding: 50px 0;
$default-desktop-padding: 110px 0;

