$text-color-dark: #070C1C;
$text-color-light: #FFFFFF;

$color-blue-dark: #1351E1;
$color-blue-light: #808FB3;
$color-orange: #FF5C32;
$color-orange-light: #EAC0B3;
$color-white: #FFFFFF;
$color-beige: #FBFAF5;
$color-grey-line: #D9D9D9;
$color-grey: #5D5D5D;
$color-grey-dark: #3F4242;
$color-silver: #E8E8E8;
$color-yellow: #E2FF6D;

$default-mobile-padding: 50px 0;
$default-desktop-padding: 110px 0;

