@import "../common/variables";

.text-center {
  text-align: center;
}

.title {
  font-size: 64px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-left: -5px;
}

.title-dot {
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 160px;
    height: 160px;
    top: -40px;
    left: -70px;
    border-radius: 50%;
    background: $color-gray-light;
    z-index: 0;
  }

  h2,
  p {
    position: relative;
    z-index: 1;
  }
}

.lead {
  font-size: 16px;
  line-height: 2;
  margin-bottom: 40px;
}

.dot {
  display: flex;
  position: relative;
  align-items: flex-start;
  padding: 32px 0;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 110px;
    height: 110px;
    top: 0px;
    left: -30px;
    border-radius: 50%;
    z-index: 0;
    background: $color-white;
  }

  img {
    margin-right: 20px;
    margin-top: 5px;
    position: relative;
    z-index: 1;
  }

  span {
    font-family: Syncopate;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    display: block;
    max-width: 200px;
    position: relative;
    z-index: 1;
    text-align: left;
  }

  &.small {
    padding: 17px 0;

    img {
      margin-right: 15px;
    }

    &:before {
      width: 82px;
      height: 82px;
      top: 0px;
      left: -20px;
      border-radius: 50%;
    }
  }

  &.x-small {
    padding: 17px 0;

    img {
      margin-right: 10px;
    }

    span {
      margin-top: 2px;
    }

    &:before {
      width: 60px;
      height: 60px;
      top: 0px;
      left: -15px;
      border-radius: 50%;
    }
  }

  &.green {
    &:before {
      background: $color-green;
    }
  }

  &.violet {
    &:before {
      background: $color-violet;
    }
  }

  &.yellow {
    &:before {
      background: $color-yellow;
    }
  }

  &.orange {
    &:before {
      background: $color-orange;
    }
  }

  &.gray {
    &:before {
      background: $color-gray-medium;
    }
  }
}
