@import "../common/variables";

.text-center {
  text-align: center;
}

.title {
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 10px;
  @include breakpoint(medium) {
    font-size: 40px;
    margin-left: -2px;
  }
  @include breakpoint(large) {
    margin-left: -5px;
    font-size: 64px;
  }
}

.title-dot {
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    top: -20px;
    left: -30px;
    border-radius: 50%;
    background: $color-gray-light;
    z-index: 0;

    @include breakpoint(medium) {
      width: 130px;
      height: 130px;
      top: -25px;
      left: -50px;
    }
    @include breakpoint(large) {
      width: 160px;
      height: 160px;
      top: -40px;
      left: -70px;
    }
  }

  h2,
  p {
    position: relative;
    z-index: 1;
  }
}

.lead {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
  @include breakpoint(medium) {
    line-height: 2;
  }
}

.dot {
  display: flex;
  position: relative;
  align-items: flex-start;
  padding: 32px 0;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 110px;
    height: 110px;
    top: 0px;
    left: -30px;
    border-radius: 50%;
    z-index: 0;
    background: $color-white;
    transition: all 0.4s ease-in-out;
  }

  img {
    margin-right: 20px;
    margin-top: 5px;
    position: relative;
    z-index: 1;
  }

  span {
    font-family: 'syncopatebold';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    display: block;
    max-width: 200px;
    position: relative;
    z-index: 1;
    text-align: left;
  }

  &.small {
    padding: 17px 0;

    img {
      margin-right: 15px;
    }

    &:before {
      width: 82px;
      height: 82px;
      top: 0px;
      left: -20px;
      border-radius: 50%;
    }
  }

  &.x-small {
    padding: 17px 0;

    img {
      margin-right: 10px;
    }

    span {
      margin-top: 2px;
    }

    &:before {
      width: 60px;
      height: 60px;
      top: 0px;
      left: -15px;
      border-radius: 50%;
    }
  }

  &.green {
    &:before {
      background: $color-green;
    }

    &:hover {
      &:before {
        background: $color-violet;
      }
    }
  }

  &.violet {
    &:before {
      background: $color-violet;
    }

    &:hover {
      &:before {
        background: $color-green;
      }
    }
  }

  &.yellow {
    &:before {
      background: $color-yellow;
    }

    &:hover {
      &:before {
        background: $color-orange;
      }
    }
  }

  &.orange {
    &:before {
      background: $color-orange;
    }

    &:hover {
      &:before {
        background: $color-yellow;
      }
    }
  }

  &.gray {
    &:before {
      background: $color-gray-medium;
    }

    &:hover {
      &:before {
        background: $color-gray-light;
      }
    }
  }
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('../images/chevron.svg') calc(100% - 10px) center no-repeat;
  border: 1px solid #ccc;
  border-radius: 9px;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 30px 6px 10px;
  margin-bottom: 20px;
  min-width: 150px;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

